/* --------------Base Styles-------------- */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	background-color: #F8F8F8;
  color: #484848;
  margin: 1.5em auto;
  text-align: center;
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 90%;
}

nav ul,
footer ul {
  list-style-type:none;
  padding-left: 0;
}

p {
  font-weight: 300;
  font-size: .9em;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #484848;
}

h2,
a {
	color: #484848;
  font-weight: 700;
  font-size: .95em;
}

h3 {
  color: #484848;
  font-weight: 500;
  front-size: 1.1em;
}

nav {
  max-width: 90%;
  margin: 0 auto;
}

nav a {
  padding: 10px 15px;
  text-align: center;
  display: block;
  margin: 5px 0;
}


/* --------------Layout-------------- */

h2 {
  font-size: .85rem;
}

.main-content {
  background-color: #fff;
  padding: 0 1em 3em;
}

.col-text {
  padding: 1em 0;
}

.port-img {
  max-width: 100%;
}

.intro {
  padding-bottom: 2em;
}

.intro-img {
  max-width: 65%;
}

.col p {
  max-width: 90%
  margin 0 auto;
}

.main-nav {
  margin-bottom: 3em;
}

.skills {
  padding: 3em 0;
}

.portfolio {
  padding: 3em 0;
}

.contact {
  padding: 3em 0;
  font-size: 1.2em;
}

.main-footer {
  border-top: 1px solid #DCDCDC;
  padding: 2em 0;
}

.contact a {
	line-height: 1.6;
  color: #484848;
  padding-left: 1em;
  font-weight: 600;
}

.contact h2 {
  margin: 1em 0 3em;
}

.contact-text {
  margin-bottom: 2em;
}


.back-to-top {
  float: right;
}

.back-to-top a {
  font-size: .75em;
  display: block;
}

.bottom-name {
  margin: 0;
  float: left;
}


/* --------------Media Queries-------------- */

@media (max-width: 767px) {
  .bot-nav {
    display: none;
  }

  nav a:link {
    background-color: #fff;
  }

}

@media (min-width: 768px) {

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  .main-nav {
    overflow: hidden;
    display: inline-block;
  }


  .main-nav li,
  .bot-nav li {
    float: left;
  }

  .bot-nav li {
    margin-left: 1em;
  }

  .bot-nav{
    float: right;
    margin: 0;
    display: inline-block;
  }

  .intro-img {
    float: right;
    margin: 15px 0 15px 15px;
    width: 45%;
  }

  .intro-text {
    float: left;
    width: 52%;
    text-align: left;
  }

  .intro-text,
  .contact-text,
  .contact p {
    font-size: 1.2em;
  }

  .contact-text {
    max-width: 65%;
    margin: 0 auto 3em;
  }


  main,
  footer {
    max-width: 100%;
  }

  .main-content {
    max-width: 100%
  }

  .col {
    float: left;
    max-width: 50%;
    padding: 0 8px 24px;
  }

  .port-section {
    max-width: 100%;
    display: block;
  }

  .contact {
    clear: both;
  }

  .back-to-top {
    display: none;
  }

  .main-footer {
    max-width: 95%;
    margin: 0 auto;
  }



}

@media (min-width: 1024px) {

  nav a:hover {
    background-color: #F0F0F0;
  }

  .top-name {
    float: left;
  }

  .main-nav {
    float: right;
  }

  .col {
    width: 33.33%;
  }

  .intro-img {
    width: 40%;
  }

  .intro-text {
    width: 57%;
  }

}
